/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @font-face {
     font-family: 'Interstate';
     src: url('fonts/interstate_mono-webfont.eot');
     src: url('fonts/interstate_mono-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/interstate_mono-webfont.woff') format('woff'),
          url('fonts/interstate_mono-webfont.ttf') format('truetype'),
          url('fonts/interstate_mono-webfont.svg#interstate_monoregular') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 html,
 button,
 input,
 select,
 textarea {
     color: #222;
 }
 html {
   font-size: 18px;
 }
 body {
     font-size: 1em;
     font: 16px/26px Helvetica, Helvetica Neue, Arial;
     overflow-x: hidden;
 }
 ::-moz-selection {
     background: #b3d4fc;
     text-shadow: none;
 }
 ::selection {
     background: #b3d4fc;
     text-shadow: none;
 }
 p {
   line-height: 1.7;
   margin: 1.6em 0 1.2em
 }
 img {
     vertical-align: middle;
 }
 fieldset {
     border: 0;
     margin: 0;
     padding: 0;
 }
 textarea {
     resize: vertical;
 }

 /* ===== Initializr Styles ==================================================
    Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
    ========================================================================== */

 .wrapper {
     width: 90%;
     margin: 0 5%;
     overflow: hidden;
 }

 /* ===================
     ALL: Orange Theme
    =================== */

 .slide0,
 .footer-container,
 .arrow-white {
     background-color: #de390c;
 }
 /* smaller pages */
 .page .header-container {
   position: static;
   height: auto;
   background-color: rgba(222, 57, 12, 1);
 }

 /* index */
 .header-container {
   position: fixed;
   top:0;
   left: 0;
   right: 0;
   height: 4.1em;
   background-color: rgba(222, 57, 12, .9);
   transition: all .5s ease;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -o-transistion: all .5s ease;
 }
 .logo-nav {
   margin: 0;
   padding: 0;
 }

 .nav-primary ul {
   text-align: center;
   position: relative;
   top: 5px;
 }
 .nav-primary ul li {
   display: inline-block;
   margin: 1.3em 0;
   padding: 0 0 0 1.5em;
 }
 .nav-primary ul li a {
   padding: 1em 0em 1.6em;
   color: white;
   text-decoration: none;
 }
 .nav-primary ul li a.current-page {
   text-decoration: underline;
 }


 /* Prepare styles for Scroll Effect */
 .no-scroll {
  position: relative;
  /*transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);*/
  background-color: #de390c;
 }
 .no-scroll .logo-nav {
   display: none;
 }
 .content h3 {
   color: #de390c;
   font-size: 1.4em;
 }
 .accordion h3:hover {
   cursor: pointer;
 }
 .ui-accordion-header:focus {
   outline: none;
 }
 .ui-accordion-header:before {
   content: "";
   display: inline-block;
   padding: .7em 1.5em;
   margin-right: .5em;
   background-image: url(../img/sprites/faq_arrow_down.png);
   background-position: 19px 10px;
   background-repeat: no-repeat;
   background-color: #de390c;
   border-radius: 6px;
   vertical-align: bottom;
 }
 .ui-accordion-header:hover:before {
   content: "";
   display: inline-block;
   margin-right: .5em;
   background-image: url(../img/sprites/faq_arrow_down_red.png);
   background-position: 19px 10px;
   background-repeat: no-repeat;
   background-color: #de390c;
   border-radius: 5px;
 }
 .ui-accordion-header-active:before {
     content: "";
     display: inline-block;
     margin-right: .5em;
     background-image: url(../img/sprites/faq_arrow_up.png);
     background-position: 19px 8px;
     background-repeat: no-repeat;
     background-color: #de390c;
     border-radius: 5px;
 }
 .ui-accordion-header-active:hover:before {
     content: "";
     display: inline-block;
     position: relative;
     margin-right: .5em;
     background-image: url(../img/sprites/faq_arrow_up_red.png);
     background-position: 19px 8px;
     background-repeat: no-repeat;
     background-color: #de390c;
     border-radius: 5px;
 }

 .header-container ul,
 .footer-container ul {
     margin: 0;
     padding: 0;
 }
 .footer-container { min-height: 10em; padding-bottom: 1em; padding-top: 2em; clear: both; }
 .footer-container .nav-meta a { color: white; font-weight: normal; text-decoration: none }
 .footer-container .nav-meta a:hover { text-decoration: underline; }
 .footer-container p {position: absolute; bottom: 0; right: 0; padding: 0; margin: 0; float: right; text-align: right;}
 .footer-container .wrapper {position: relative; min-height: 20em;}

 a.button, .simple_form input[type="submit"]{
   display: inline-block;
   margin: 2em 1em 2em 0;
   padding: 20px;
   background-color: #e53f05;
   color: white;
   text-decoration: none;
   font-size: 1.2em;
   font-weight: normal;
   -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
   -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
   box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
 }

 /* credits for button effect go to
 http://inspectelement.com/tutorials/create-a-slick-css3-button-with-box-shadow-and-rgba */

 .button:hover, .simple_form input[type="submit"]:hover {
   text-decoration: none;
   color: white;
   -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
   box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

 }

 .button:active, .simple_form input[type="submit"]:active {
   text-decoration: none;
   position: relative;
   top: 5px;
   -webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
   -moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
   box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
 }

 .button:active:after, .simple_form input[type="submit"]:after {
   content: "";
   width: 100%;
   height: 3px;
   background: #fff;
   position: absolute;
   bottom: -1px;
   left: 0;
 }

 .title {
     color: white;
 }
 .intro {
   padding-top: 3em;
   overflow: hidden;
 }
 .intro h1 {
   margin: 0;
 }
 .intro h2 {
   font-family: Interstate, Helvetica;
   font-size: 18px;
   color: white;
   letter-spacing: 1px;
 }

.actions {
  position: relative;
}
.actions .message {
  position: absolute;
  top: 60px;
  left: 170px;
  background: url(/assets/spinner.gif) left 4px no-repeat;
  padding-left: 22px;
  color: #999;
}



 /* ==============
     MOBILE: Main
    ============== */

 /*.main {

 }
 .main article {
   width: 100%;
 }
 */.main article h1 {
     font-size: 2em;
 }

 .footer-container footer {
     color: white;
     padding-top: 1em;
 }

 /* ===============
     ALL: IE Fixes
    =============== */

 .ie7 .title {
     padding-top: 20px;
 }

 /* ==========================================================================
    Author's custom styles
    ========================================================================== */

 aside p,
 aside h2 {
   margin: 0px;
 }

 aside {
   margin-top: 50px;
 }

 a {
   color: #f14215;
   text-decoration: none;
 }
 a:hover {
   color: #f14215;
   text-decoration: underline;
 }

 h1,
 h2,
 h3,
 .button h3 {
   font-family: 'Interstate', sans-serif;
   font-weight: normal;
 }
 h2 {
     color: #f14215;
     margin: .8em 0 1.1em;
     font-size: 2.5em;
     font-weight: normal;
     line-height: 1;
 }
 ul {
      list-style-type: none;
 }
 .container ul li {
   list-style-position: inside;
 }
 /* .container ul li:before { */
 /*     content: '\2022 '; */
 /*     position: absolute; */
 /*     padding-right: 0.5em; */
 /*     margin-bottom: 14em; */
 /*     margin-left: -.7em; */
 /*     color: red; */
 /* } */
 .content {
   width: 100%;
   float: none;
 }
 .sidebar {
   width: 100%;
   float: none;
 }
 .fullwidth {
   width: 100%;
   float: none;
   clear: both;
 }
 .related {
 	margin-bottom: 5em;
 	padding-top: .5em;
 	padding-bottom: 1em;
 	text-align: left;
 }
 .related ul li:before {
 	content: '';
 }
 /* ============
     SPRITES
    ============ */

 .logo-nav {
   background-image: url(/assets/logo_subnavi.png);
   background-repeat: no-repeat;
   background-position: 0px 7px;
   width: 210px;
   height: 58px;
   text-indent: 100%;
   overflow: hidden;
 }
 .logo {
     background-image: url(/assets/logo_subnavi.png);
     background-repeat: no-repeat;
     background-position: 0px 40px;
     margin: 1em 0em 0em;
     width: 320px;
     height: 100px;
     text-indent: 99em;
     overflow: hidden;
 }
 .social-media ul {
     margin-top: 1em;
     padding: .4em 1em .2em;
     width: 10em;
     background: rgba(255, 255, 255, 0.6);
     list-style-type: none;
     border-radius: 8px;
 }
 .social-media ul li {
     float: left;
     margin-right: .5em;
 }
 .arrow-white, .arrow-red {
     width: 7em;
     height: 2.7em;
     border-bottom-left-radius: 8px;
     border-bottom-right-radius: 8px;
 }
 .arrow-white {
     background-image: url(../img/sprites/arrow_down.png);
     background-repeat: no-repeat;
     background-position: 28px 5px;
 }
 .arrow-red {
     background-image: url(../img/sprites/arrow_down_red.png);
     background-repeat: no-repeat;
     background-color: white;
     background-position: 28px 5px;
 }
 .arrow-white a, .arrow-red a {
   padding: 1.5em 3.5em;
   text-indent: 99em;
   overflow: hidden;
 }
 /* ==========================================================================
    Sponsors
    ========================================================================== */
 .sponsors {

 }
 .sponsors div {
     display: inline-block;
     width: 50%;
     height: 4.5em;
     opacity: .5;
     transition: opacity 200ms linear;
     -webkit-transition: opacity 200ms linear;
     -moz-transition: opacity 200ms linear;
 }

 .sponsors .github {
     background: url(/assets/sponsors/GitHub_Logo.png);
     background-size: contain;
     background-repeat: no-repeat;
 }
  /* ==========================================================================
     Donations
     ========================================================================== */

  #sociallinks iframe { margin-right: 2em;}
  .fb-like {margin-left: 2em;}

.simple_form input[type=text], .simple_form input[type=email], .simple_form textarea {
     float: right;
     padding: 8px;
     margin-right: 5%;
     width: 75%;
     border: 1px solid rgb(221, 221, 221);
     font-size: 16px;
     border-radius: 8px 8px 8px 8px;
  }
  .simple_form select {
  	margin-top: .5em;
  }
  .simple_form label {
     float: left;
     clear: both;
     width: 13%;
     margin-bottom: 2px;
     padding-right: 15px;
     line-height: 39px;
     text-align: right;
     font-size: 15px;
     text-shadow: 2px 2px 0px rgb(255, 255, 255);
 }
 .simple_form .hint {
 	display: none;
 }
 .simple_form div.input {
 	height: 3em;
 }
 .simple_form .boolean {
   margin-top: 5px;
 }
 .simple_form .boolean input {
  float: left;
  margin-left: calc(13% + 10px);
 }
 .simple_form .boolean label {
   width: 50%;
   clear: none;
   padding: 0 0 0 15px;
   line-height: 1em;
   text-align: left;
 }
 .simple_form a {
   color: black;
   text-decoration: underline;
 }
 .simple_form fieldset {
 	padding: 1em 0 0 1em;
 	margin-bottom: 1em;
 	border: 1px solid rgb(221, 221, 221);
 	border-radius: 8px 8px 8px 8px;
 }
 .simple_form abbr[title] {
 	border-bottom: none;
 }
 .application-error {
 	padding: 10px;
 	border: solid 2px rgb(222, 0, 0);
 	border-radius: 8px 8px 8px 8px;
 	color: rgb(222, 0, 0);
 	background-color: rgba(222, 0, 0, .4);
 }

 .note {
   font-size: 0.9em;
 }

 .footnotes {
   margin: 0;
   padding: 0;
 }
 .footnotes li {
   list-style-type: none;
   color: #999;
   font-size: 0.9em;
 }

 /* ==========================================================================
    Media Queries
    ========================================================================== */

 @media only screen and (min-width: 480px) {

 /* ====================
     INTERMEDIATE: Menu
    ==================== */

     .summer_of_code {
       float: left;
     }

     .summer_of_code img {
       width: 80%;
     }
     .logo {
        background-image: url(../img/sprites/logo_start.png);
        background-position: 0px 0px;
         margin: 1em 0em 3em;
         width: 675px;
         height: 165px;
     }
     .nav-primary ul li a.current-page {
       background-image: url(../img/sprites/nav_active_arrow.png);
       background-repeat: no-repeat;
       background-position: 0px 42px;
       text-decoration: none;
     }
     .page-students .nav-primary ul li a.current-page { background-position: 20px 42px; }
     .page-sponsors .nav-primary ul li a.current-page { background-position: 20px 42px; }
     .page-projects .nav-primary ul li a.current-page { background-position: 15px 42px; }
     .page-faq .nav-primary ul li a.current-page { background-position: 1px 42px; }
     .page-contact .nav-primary ul li a.current-page { background-position: 16px 42px; }

 /* ====================
     INTERMEDIATE: Sponsors
    ==================== */

     .sponsors div {
         width: 33%;
     }

 }

 @media only screen and (min-width: 768px) {


 /* ============
     WIDE: Menu
    ============ */
    .logo {
       background-image: url(../img/sprites/logo_start.png);
       background-position: 0px 0px;
        margin: 1em 0em 3em;
        width: 675px;
        height: 165px;
    }

    .slide1 {
        background-image: url(../img/workshop2.jpg);
    }
    .slide3 {
        background-image: url(../img/workshop1.jpg);
    }
     .title {
         float: left;
         margin-top: 57px;
     }

     .summer_of_code {
       float: right;
       margin-right: 52px;
     }

     .summer_of_code img {
       width: 100%;
     }

 /* ============
     WIDE: Main
    ============ */

 /*    .main article {
         float: left;
         width: 65%;
     }

     .main aside {
         float: right;
         width: 35%;
     }*/

     .content {
       width: 62%;
       float: left;
     }
     .sidebar {
       width: 33%;
       float: right;
     }
     .related {
         text-align: right;
     }
     /*.scribble1 { margin-top: 50px; }
     .scribble2 {}
     .scribble3 { margin-top: 100px; }
     .scribble4 { margin-top: 200px; }
     .scribble5 { margin-top: 20px; }
     .scribble6 { background-position: 70px -1250px; }*/

     .nav-primary { float: right; }
     .nav-primary ul { text-align: right; }
     .header-container { height: 4.1em; }
     .logo-nav { float: left; }

     .no-scroll .logo-nav {
       /*display: block;*/
     }
     .container.slide0 { min-height: 25em; }

 /* ====================
     WIDE: Sponsors
    ==================== */

     .sponsors div {
         width: 33%;
     }
 }

 @media only screen and (min-width: 1140px) {

 /* ===============
     Maximal Width
    =============== */

    .logo {
        margin: 2em 0em 3em;
        width: 680px;
        height: 180px;
    }
     .wrapper {
         width: 1026px; /* 1140px - 10% for margins */
         margin: 0 auto 3em;
     }
     .intro {
       margin-bottom: 0em;
       height: 22em;
     }

 /* ====================
     Maximal: Sponsors
    ==================== */

     .sponsors div {
         width: 20%;
     }
 }

 /* ==========================================================================
    Helper classes
    ========================================================================== */

 .ir {
     background-color: transparent;
     border: 0;
     overflow: hidden;
     white-space: nowrap;
     text-indent: 100%;
 }

 .ir:before {
     content: "";
     display: block;
     width: 0;
     height: 150%;
 }

 .hidden {
     display: none !important;
     visibility: hidden;
 }

 .visuallyhidden {
     border: 0;
     clip: rect(0 0 0 0);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute;
     width: 1px;
 }

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
     clip: auto;
     height: auto;
     margin: 0;
     overflow: visible;
     position: static;
     width: auto;
 }

 .invisible {
     visibility: hidden;
 }

 .clearfix:before,
 .clearfix:after {
     content: " ";
     display: table;
 }

 .clearfix:after {
     clear: both;
 }

 .clearfix {
     *zoom: 1;
 }

 .donation-plans {
   float: left;
 }

 .container ul.donation-plans {
   width: 1124px;
   margin-bottom: 40px;
   padding-left: 0px;
 }

 .container ul.donation-plans li {
   display: inline-block;
   position: relative;
   width: 210px;
   height: 300px;
   vertical-align: top;
   list-style: none;
   border: 1px solid rgb(34, 34, 34);
   border-radius: 4px;
   padding: 5px 15px;
   margin-right: 15px;
   text-align: center;
 }

 .container ul.donation-plans li:before {
   content: "";
   color: white;
 }

 .container ul.donation-plans li {
   padding-top: 20px;
 }

 .container ul.donation-plans p {
   text-align: left;
 }

 #sponsoring {
   position: relative;
 }

 ul.donation-plans .donate-button {
   position: absolute;
   bottom: 0px;
   left: 15px;
   text-align: center;
   width: 180px;
   margin-bottom: 15px;
 }

 .donate-button.button {
   font-size: 1em;
   padding: 15px;
 }

 ul.donation-plans a.button:active {
   position: inherit;
 }

 .custom-donation input[type=number] {
   height: 50px;
   padding: 0px 10px;
   font-size: 24px;
   width: 120px;
   margin-right: 20px;
 }

 /* ==========================================================================
    Print styles
    ========================================================================== */

 @media print {
     * {
         background: transparent !important;
         color: #000 !important; /* Black prints faster: h5bp.com/s */
         box-shadow: none !important;
         text-shadow: none !important;
     }

     a,
     a:visited {
         text-decoration: underline;
     }

     a[href]:after {
         content: " (" attr(href) ")";
     }

     abbr[title]:after {
         content: " (" attr(title) ")";
     }

     /*
      * Don't show links for images, or javascript/internal links
      */

     .ir a:after,
     a[href^="javascript:"]:after,
     a[href^="#"]:after {
         content: "";
     }

     pre,
     blockquote {
         border: 1px solid #999;
         page-break-inside: avoid;
     }

     thead {
         display: table-header-group; /* h5bp.com/t */
     }

     tr,
     img {
         page-break-inside: avoid;
     }

     img {
         max-width: 100% !important;
     }

     @page {
         margin: 0.5cm;
     }

     p,
     h2,
     h3 {
         orphans: 3;
         widows: 3;
     }

     h2,
     h3 {
         page-break-after: avoid;
     }
 }
